.user__info {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1.5rem;
    font-size: 1rem;    
}

.crud{
    width: 100%;
    max-width: 320px;
    height: 185px;
    padding: 1rem;
    border: 3px solid #ccc;
    border-radius: 0.5em;
    margin: 0 auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

.crud__name {
    color: #333;
    font-weight: bold;
}
  
.crud__list {
    list-style: none;
    padding: 0;
}
  
.crud__list li span:first-child {
    font-weight: bold;
}

.crud__btn {
    background-color: rgb(231, 79, 79);
    color: white;
    border: none;
    padding: 0.4rem 0.6rem;
    margin-right: 10px;
    cursor: pointer;
}

.crud__btn2 {
    background-color: rgb(83, 145, 184);
    color: white;
    border: none;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

@media (min-width: 700px) {
    .user__info {
        max-width: 1024px;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
}