.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 200px;
    background-color: #2B2A4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: white;
    font-size: 3rem;
}

.header__btn {
    padding: 0.3em 1em;
    cursor: pointer;
    border: none;
    background-color: rgb(123, 123, 214);
    color: white;
    filter: grayscale(0.5);
}

.header__btn:hover {
    filter: grayscale(0);
}

.footer {
    margin-top: auto;
    width: 100%;
    padding: 1.5rem;
    background-color: lightslategray;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.loading {
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #2B2A4C;
    border-top-color: transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 700px) {
    .header {
        height: 95px;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2.5rem;
    }

    .header__title {
        font-size: 2.3rem;
    }
}