@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

input, button {
    font-family: inherit;
}